<div class="menu-wrap">
    <div class="menu">
      <ul>
        <li><a href="index.html" class="active">Página Inicial</a></li>
        <li><a href="about.html">Sobre</a></li>
        <li><a href="services.html">Serviços</a></li>
        <li><a href="solutions.html">Soluções</a></li>
        <li><a href="careers.html">Carreira</a></li>
        <li><a href="contact.html">Contato</a></li>
      </ul>
    </div>
  </div>
  <!--------fim do menu--------->
  <div class="clearing"></div>
  <div class="header">
    <div class="logo">
      <h1>Colabore<span>!</span></h1>
    </div>
    <div class="social">
      <ul>
        <li><a href="#"><img src="../../assets/img/aim.png" alt="aim" /></a></li>
        <li><a href="#"><img src="../../assets/img/facebook.png" alt="facebook" /></a></li>
        <li><a href="#"><img src="../../assets/img/twwtter.png" alt="tiwwter" /></a></li>
        <li><a href="#"><img src="../../assets/img/linkedin.png" alt="linkedin'" /></a></li>
      </ul>
    </div>
  </div>
  <!--------header wrap ends--------->
  
