<div class="clearing"></div>
<div class="primary-footer">
  <div class="footer-wrap">
    <div class="footer">
      <div class="page">
        <div class="panel mar-right30">
          <div class="title">
            <h1>Quem somos?</h1>
          </div>
          <div class="content">
            <P>Prestadores de serviços do ramo da manutenção de carros por mais de 931 anos, a oficina X trabalha com carros desde da época
que as potências de cavalo eram de fatos cavalos potentes, com tradição e dedicação nossa alegria é servir você</P>
            <div class="button"><a href="#">Mais informações</a></div>
          </div>
        </div>
        <div class="panel mar-right30">
          <div class="title">
            <h1>Outros links uteis</h1>
          </div>
          <div class="content">
            <ul>
              <li><a href="#">Como estou dirigindo?</a></li>
              <li><a href="#">Porque fico fazendo perguntas a mim mesmo?</a></li>
              <li><a href="#">Sério, eu preciso parar com isso</a></li>
              <li class="-no-border-bottom"><a href="#">Saiba mais em encontroentregolpebaixoevanessa.com</a></li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="title">
            <h1>Transparência no serviço</h1>
          </div>
          <div class="content">
            <p>Melhor oficina no jogo, sério, não tem melhor! Sim, somos os melhores mesmo, podem ir perguntar ao próprio Ford. Ninguém é mais claro e aberto aos métodos e serviços que nós mesmo. É incrível</p>
            <div class="button"><a href="#">Mais infos</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-wrap">
    <div class="panel">
      <div class="content">
        <P>Copyright (c) COLABORE! Todos os direitos reservados </P>
        <p>< <a href="#google.com">google.com</a> > Images From: <a href="www.fb.com">fb.com</a></p>
      </div>
    </div>
  </div>

