<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>Colabore!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/home" routerLinkActive="active">Log Out</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center user-image-back">
                <img src="assets/img/img1.jpg" class="img-responsive" />

            </li>


            <li>
                <a routerLink="/problemas" routerLinkActive="active"><i class="fa fa-desktop "></i>Página Inicial</a>
            </li>
            <li>
                <a routerLink="/cadproblema" routerLinkActive="active"><i class="fa fa-user "></i>Cadastro de
                    Funcionários</a>
            </li>
            <li>
                <a href="clientes.html"><i class="fa fa-user "></i>Cadastro de Clientes</a>
            </li>
            <li>
                <a href="estoque.html"><i class="fa fa fa-th "></i>Estoque</a>
            </li>
            <li>
                <a href="ordem de servico.html"><i class="fa fa fa-th-large "></i>Ordens de Serviço</a>
            </li>
            <li>
                <a href="fornecedores.html"><i class="fa fa-truck "></i>Fornecedores</a>
            </li>
        </ul>

    </div>

</nav>